.theme-toggle {
  position: relative;
  width: 4em;
  height: 2em;
  margin-left: auto;
  transition: 0.3scubic -bezier 0.4, 0.03, 0, 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trigger {
  display: ruby;
  align-items: center; /* Vertically align items in the center */
  gap: 15px; /* Adjust space between items as necessary */
}

label, .toggle {
  border-radius: 100px;
}

label {
  display: block;
  background-color: rgba(120, 120, 120, 0.15);
  cursor: pointer;
  width: 100%;
  height: 76%;
  position: relative;
}

.toggle {
  position: absolute;
  width: 50%; /* 50% size */
  height: 100%;
  background-color: #fff;
  border-radius: 100px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), background-color 0.3s ease-in-out; /* Added background-color transition */
}

#theme-switch:checked + label .toggle {
  transform: translateX(100%); /* Moves the toggle to the right when checked */
  background-color: #333; /* Dark mode background color */
}

#theme-switch:not(:checked) + label .toggle {
  transform: translateX(0); /* Moves the toggle to the left when unchecked (light mode) */
  background-color: #fff; /* Light mode background color */
}

.names {
  font-size: 1em;
  font-weight: bolder;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.names p {
  margin-bottom: 0;
  line-height: 1em;
  opacity: 0.5;
  margin-top: 0;
  font-size: 0.85em;
}

label .light {
  color: #868686;
}

label .dark {
  color: #b9b9b9;
}

[type="checkbox"] {
  display: none;
}

/* Toggle (checked state) */
[type="checkbox"]:checked ~ label .toggle {
  transform: translateX(100%);
  background-color: #34323D;
}

[type="checkbox"]:checked ~ label .dark {
  color: #ddd;
}

[type="checkbox"]:checked ~ label .light {
  color: #ccc;
}

/* 아이콘 크기 맞추기 */
.theme-toggle .names .light svg,
.theme-toggle .names .dark svg {
  width: 1.6rem;
  height: 1.4rem;
  margin: 1px;
}

/* 반응형 스타일 */
@media (max-width: 1024px) {
  .theme-toggle {
    margin-right: 35px;
  }
}

@media (max-width: 600px) {
  .theme-toggle {
    width: 3.5rem;  /* 모바일에서도 균형 잡힌 크기 */
    margin-right: 20px;

    .names {
      font-size: .85em;
    }
  }
}